# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Local uploads
uploads/

# Generated outputs
outputs/

dataset/

# Models
# models/
*.pth
*.pt

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/